<div class="faq wf-section">
        <div class="padding-vertical padding-xxlarge">
          <div class="page-padding">
            <div class="container-large w-container">
              <div class="faq_layout">
                <div class="faq_menu">
                  <div class="faq_title">
                    <h1 class="heading-l">FAQs</h1>
                  </div>
                  <div class="faq_menu-layout">
                    <a href="#orders" class="text-link">order &amp; returns</a>
                  </div>
                </div>
                <div class="faq_list-wrapper">
                  <div>
                    <div class="faq_section-header">
                      <div class="faq_title">
                        <h2>ORDERS &amp; <em>RETURNS</em></h2>
                        <div class="faq_section-title-expand"></div>
                        <div class="faq_section-title-contract"></div>
                      </div>
                    </div>
                    <div id="orders" class="faq_section">
                      <div class="faq_item">
                        <div class="faq_question">
                          <div class="text-weight-semibold">What is your return policy?</div>
                          <div class="faq_question-arrow"></div>
                        </div>
                        <div class="faq_answer">
                          <div class="faq_answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>