<div class="account wf-section">
  <div class="page-padding">
      <div class="container-large w-container">
          <h1 class="heading-l">My <em>Favorites</em></h1>
          <div class="favorites_layout"></div>
      </div>
  </div>
</div>

{% schema %}
{
"name": "Shared Favorites",
"tag": "div"
}
{% endschema %}