<div class="account wf-section">
  <div class="page-padding">
      <div class="container-large w-container">
          <h1 class="heading-l">My <em>Favorites</em></h1>
          <div class="account_layout">
              <div class="account_menu">
                <a href="{{ routes.account_url }}" class="text-link is-tab favorites w-inline-block">
                    <div>My Info</div>
                </a>
                <a href="/pages/orders" class="text-link is-tab favorites w-inline-block">
                    <div>Orders</div>
                <a href="{{ routes.account_addresses_url }}" class="text-link is-tab favorites w-inline-block">
                    <div>Addresses</div>
                </a>
                <a href="/pages/favorites" class="text-link is-tab favorites w-inline-block">
                    <div>My Favorites</div>
                </a>
                <a href="{{ routes.account_logout_url }}" class="text-link is-tab favorites w-inline-blockk">
                    <div>Log Out</div>
                </a>
                </div>
              <div class="tabs-content">
                  <div class="favorites_layout">
                      
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>

