 <div class="reviews wf-section">
    <div class="padding-large padding-vertical">
      <div class="page-padding">
        <div class="container-large w-container">
        <div data-fera-container="504806" data-product_id="{{ product.id }}"></div> 
        </div>
      </div>
    </div>
  </div>
