<div class="media-grid wf-section">
    <div class="padding-large padding-vertical">
      <div class="page-padding">
        <div class="container-medium w-container">
          <div>
            <div class="media-grid_layout has-vertical-title colgap-small">
              <div id="w-node-_4545fda9-85a6-ae25-31d3-f07768dddced-66565af8" class="media-grid_item">
                <div class="video-wrapper img-portrait fade-in-2">
                  <div style="padding-top:56.17021276595745%" class="video img-base w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FNVXTS4GVPCI%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DNVXTS4GVPCI&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FNVXTS4GVPCI%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" allowfullscreen="" title="How Athena Turns Her Branches into Dramatic Sculptural Arrangements"></iframe></div>
                  <div data-w-id="4545fda9-85a6-ae25-31d3-f07768dddcf0" class="video-cover img-base"></div>
                </div>
              </div>
              <div id="w-node-_4545fda9-85a6-ae25-31d3-f07768dddcde-66565af8" class="media-grid_item">
                <div class="img-square"><img src="images/about-img.jpg" loading="lazy" srcset="images/about-img-p-500.jpg 500w, images/about-img.jpg 698w" sizes="(max-width: 479px) 44vw, (max-width: 767px) 46vw, (max-width: 991px) 41vw, (max-width: 1279px) 42vw, 473.5px" alt="" class="img-base fade-in-3"></div>
              </div>
              <div class="collage_vertical-title">
                <div class="heading-l fade-in-1">ABOUT<em> US</em></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rich-text print wf-section">
    <div class="padding-small padding-vertical">
      <div class="page-padding">
        <div class="container-medium">
          <div class="rich-text-blocks-wrapper">
            <div>
              <div class="rich-text_tag">
                <div class="padding-small padding-bottom">
                  <h4 class="heading-xs text-style-sans text-align-center">ABOUT ATHENA</h4>
                </div>
              </div>
              <div class="rich-text_tag">
                <div class="padding-0"></div>
              </div>
              <div class="rich-text_paragraph is-med">
                <div class="padding-0">
                  <p class="drop-cap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Take shere best-selling rug collection for Lulu and Bauhaus movement.Whether she is layering flavors in the kitchen, setting a bountiful table, or designing an entire room, Athena is renowned for her graceful yet juxtaposed pairings. Across her creative endeavors, she is fueled by her belief that beautiful food and thoughtful design bring people together and turn little moments into lasting memories. Her work has been featured in Architectural Digest, Food &amp; Wine, Vogue, Bon Appétit, Harper’s Bazaar, Martha Stewart, Goop, Elle Decor and more.<br></p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Deemed “the modern girl’s Martha Stewart” by the New York Times, she has written two books, Cook Beautiful (Abrams 2017) and Live Beautiful (Abrams 2020), which expand on her culinary and design content that she regularly publishes on Eyeswoon. Her cookbook, Cook Beautiful received the highest culinary honor – a James Beard Award for photography.  Live Beautiful remains a number one bestseller on Amazon’s prestigious home decor list. It is both a showpiece of exquisite design, and a guide to creating a home that is thoughtfully put together. Top international brands regularly invite Athena to lend her design eye and culinary talents to creative direction projects. Athena’s podcast, More Than One Thing, focuses on multi-hyphenate talents whose creative interests have led them on a nonlinear career path. <br></p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Through raw and honest conversations with dynamic creatives, it is revealed how each person navigated road blocks, pushed through uncertainties, and challenged themselves to explore a variety of professional endeavors. Athena’s interview style immediately resonated with listeners, with more than 445K downloads in her first and second seasons, MTOT has repeatedly found a place in the Apple podcast top 100. She lives in Brooklyn with her husband, son, and puppy.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="media-grid wf-section">
    <div class="padding-0">
      <div class="page-padding">
        <div class="container-large w-container">
          <div>
            <div class="media-grid_layout colgap-xsmall">
              <div class="media-grid_item">
                <div class="img-auto"><img src="images/athena02.webp" loading="lazy" srcset="images/athena02-p-500.jpg 500w, images/athena02-p-800.jpg 800w, images/athena02-p-1080.jpg 1080w, images/athena02.webp 1372w" sizes="(max-width: 479px) 44vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1439px) 46vw, 42vw" alt="" class="img-auto fade-in-1"></div>
              </div>
              <div id="w-node-_45388006-98a3-c10c-2887-af4ee04b3427-66565af8" class="media-grid_item">
                <div class="img-auto"><img src="images/athena01.webp" loading="lazy" srcset="images/athena01-p-500.jpg 500w, images/athena01.webp 663w" sizes="(max-width: 479px) 44vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1439px) 46vw, 42vw" alt="" class="img-auto fade-in-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rich-text print wf-section">
    <div class="padding-small padding-vertical">
      <div class="page-padding">
        <div class="container-medium">
          <div class="rich-text-blocks-wrapper">
            <div>
              <div class="rich-text_tag">
                <div class="padding-small padding-bottom">
                  <h4 class="heading-xs text-style-sans">ABOUT EYESWOON</h4>
                </div>
              </div>
              <div class="rich-text_tag">
                <div class="padding-0"></div>
              </div>
              <div class="rich-text_paragraph is-med">
                <div class="padding-0">
                  <p class="drop-cap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Take shere best-selling rug collection for Lulu and Bauhaus movement.Whether she is layering flavors in the kitchen, setting a bountiful table, or designing an entire room, Athena is renowned for her graceful yet juxtaposed pairings. Across her creative endeavors, she is fueled by her belief that beautiful food and thoughtful design bring people together and turn little moments into lasting memories. Her work has been featured in Architectural Digest, Food &amp; Wine, Vogue, Bon Appétit, Harper’s Bazaar, Martha Stewart, Goop, Elle Decor and more.<br></p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Deemed “the modern girl’s Martha Stewart” by the New York Times, she has written two books, Cook Beautiful (Abrams 2017) and Live Beautiful (Abrams 2020), which expand on her culinary and design content that she regularly publishes on Eyeswoon. Her cookbook, Cook Beautiful received the highest culinary honor – a James Beard Award for photography.  Live Beautiful remains a number one bestseller on Amazon’s prestigious home decor list. It is both a showpiece of exquisite design, and a guide to creating a home that is thoughtfully put together. Top international brands regularly invite Athena to lend her design eye and culinary talents to creative direction projects. Athena’s podcast, More Than One Thing, focuses on multi-hyphenate talents whose creative interests have led them on a nonlinear career path. <br></p>
                </div>
              </div>
              <div class="rich-text_paragraph">
                <div class="padding-0">
                  <p>Through raw and honest conversations with dynamic creatives, it is revealed how each person navigated road blocks, pushed through uncertainties, and challenged themselves to explore a variety of professional endeavors. Athena’s interview style immediately resonated with listeners, with more than 445K downloads in her first and second seasons, MTOT has repeatedly found a place in the Apple podcast top 100. She lives in Brooklyn with her husband, son, and puppy.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="team" class="team wf-section">
    <div class="padding-large padding-vertical">
      <div class="page-padding">
        <div class="container-medium w-container">
          <div class="team_layout">
            <div class="collage_vertical-title">
              <div class="heading-l">MEET <em>the team</em></div>
            </div>
            <div class="team_member">
              <div class="team_member-img">
                <div class="img-square"><img src="images/team01.jpg" loading="lazy" srcset="images/team01-p-500.jpg 500w, images/team01.jpg 619w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 38vw, (max-width: 991px) 32vw, 300px" alt="" class="img-base"></div>
              </div>
              <div class="team_member-content-wrapper">
                <div class="team_member-title">
                  <div class="heading-xs">jordana teles, brand director</div>
                </div>
                <div class="team_member-description">In the 7+ years, Jordana has been at EyeSwoon, she’s been instrumental in crafting the visual identity and tone of the brand across all platforms from site to social, partnerships, editorial, and beyond. She has worked side-by-side with Athena on all creative and strategic ventures throughout every stage of the business, helping to guide the brand into what it is today.</div>
              </div>
            </div>
            <div class="team_member">
              <div class="team_member-img">
                <div class="img-square"><img src="images/team02.jpg" loading="lazy" srcset="images/team02-p-500.jpg 500w, images/team02.jpg 618w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 38vw, (max-width: 991px) 32vw, 300px" alt="" class="img-base"></div>
              </div>
              <div class="team_member-content-wrapper">
                <div class="team_member-title">
                  <div class="heading-xs">sacha strebe, editorial director</div>
                </div>
                <div class="team_member-description">With 15+ years of experience in digital media, Sacha’s work has been influential across major design, beauty, and lifestyle publications. Before EyeSwoon, she was the editorial director of MyDomaine for 4+ years where she diversified the site’s coverage to reach a lifetime traffic high. Now she is responsible for the editorial vision, direction, and strategic growth of EyeSwoon.com across all platforms, partnerships, and brand collaborations.</div>
              </div>
            </div>
            <div class="team_member">
              <div class="team_member-img">
                <div class="img-square"><img src="images/team03.jpg" loading="lazy" srcset="images/team03-p-500.jpg 500w, images/team03.jpg 619w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 38vw, (max-width: 991px) 32vw, 300px" alt="" class="img-base"></div>
              </div>
              <div class="team_member-content-wrapper">
                <div class="team_member-title">
                  <div class="heading-xs">natasha rodriguez, project manager</div>
                </div>
                <div class="team_member-description">Acting as an executive administrator and right hand to EyeSwoon Founder and CEO, Athena Calderone, Natasha manages her multiple ventures, keeping all ongoing projects, company engagements, and deliverables on track; working across product, creative deliverables, vendor liaison, licensing, and business management.</div>
              </div>
            </div>
            <div class="team_member">
              <div class="team_member-img">
                <div class="img-square"><img src="images/team04.jpg" loading="lazy" srcset="images/team04-p-500.jpg 500w, images/team04.jpg 619w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 38vw, (max-width: 991px) 32vw, 300px" alt="" class="img-base"></div>
              </div>
              <div class="team_member-content-wrapper">
                <div class="team_member-title">
                  <div class="heading-xs">heather choi, vp of operations</div>
                </div>
                <div class="team_member-description">As VP of Operations at EyeSwoon, Heather leads logistics, retail, distribution, and customer experience while acting as a strategic partner to the CEO to execute large-scale growth plans. Before EyeSwoon, Heather’s 10+ years of experience in the lifestyle/e-commerce space includes most recently as Director of Merchandising Operations at goop for 3+ years and 7 years in Operations with One Kings Lane.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-line bg-color-white"></div>
  <div class="instagram wf-section">
    <div class="padding-xxlarge padding-vertical">
      <div class="page-padding">
        <div class="container-large w-container">
          <a href="https://www.instagram.com/eyeswoon/" target="_blank" class="instagram_header w-inline-block">
            <h3 class="heading-l">@EYESWOON<em></em></h3>
          </a>
          <div class="instagram_wrapper">
            <div class="instagram_images">
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667c0-186667b4" class="img-portrait-sm"><img src="images/instagram05.webp" loading="lazy" alt="" class="img-base"></div>
              </a>
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667c3-186667b4" class="img-portrait-sm"><img src="images/instagram06.webp" loading="lazy" alt="" class="img-base"></div>
              </a>
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667c6-186667b4" class="img-portrait-sm"><img src="images/instagram04.webp" loading="lazy" alt="" class="img-base"></div>
              </a>
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667c9-186667b4" class="img-portrait-sm"><img src="images/Option02.webp" loading="lazy" srcset="images/Option02-p-500.jpg 500w, images/Option02.webp 688w" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 14vw, 13vw" alt="" class="img-base"></div>
              </a>
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667cc-186667b4" class="img-portrait-sm"><img src="images/articleimgexample03.webp" loading="lazy" srcset="images/articleimgexample03-p-500.jpg 500w, images/articleimgexample03-p-800.jpg 800w, images/articleimgexample03.webp 810w" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 14vw, 13vw" alt="" class="img-base"></div>
              </a>
              <a href="#" class="instagram_img-link-wrapper w-inline-block">
                <div id="w-node-aebeb431-8e8e-7f4e-f427-d9bf186667cf-186667b4" class="img-portrait-sm"><img src="images/collectionlistexample03.webp" loading="lazy" srcset="images/collectionlistexample03-p-500.jpg 500w, images/collectionlistexample03.webp 594w" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 14vw, 13vw" alt="" class="img-base"></div>
              </a>
            </div>
          </div>
          <div class="list_wrapper is-swiper show-mobile-landscape">
            <div class="swiper is-list">
              <div class="list_layout is-5-col swiper-wrapper">
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/instagram05.webp" loading="lazy" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/instagram05.webp" loading="lazy" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/instagram05.webp" loading="lazy" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/instagram06.webp" loading="lazy" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/instagram04.webp" loading="lazy" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/Option02.webp" loading="lazy" srcset="images/Option02-p-500.jpg 500w, images/Option02.webp 688w" sizes="(max-width: 479px) 86vw, (max-width: 767px) 275px, 100vw" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/articleimgexample03.webp" loading="lazy" srcset="images/articleimgexample03-p-500.jpg 500w, images/articleimgexample03-p-800.jpg 800w, images/articleimgexample03.webp 810w" sizes="(max-width: 479px) 86vw, (max-width: 767px) 275px, 100vw" alt="" class="img-base"></div>
                </a>
                <a href="#" class="swiper-slide list_item of-5 w-inline-block">
                  <div class="img-portrait-sm"><img src="images/collectionlistexample03.webp" loading="lazy" srcset="images/collectionlistexample03-p-500.jpg 500w, images/collectionlistexample03.webp 594w" sizes="(max-width: 479px) 86vw, (max-width: 767px) 275px, 100vw" alt="" class="img-base"></div>
                </a>
              </div>
            </div>
            <div class="swiper-button-left is-shop-list"></div>
            <div class="swiper-button-next is-shop-list"></div>
            <div class="swiper-pagination"></div>
            {% comment %} <div class="hidden w-embed w-script">
              <script>
    currentSwiper = document.currentScript.parentNode.parentNode.firstChild.nextElementSibling;
navNext = currentSwiper.nextElementSibling.nextElementSibling;
navPrev = currentSwiper.nextElementSibling;
pagination = currentSwiper.nextElementSibling.nextElementSibling.nextElementSibling;
   var swipername = new Swiper(currentSwiper, {
    slidesPerView: "auto",
  slidesPerGroupAuto: false,
  speed: 250,
  //spaceBetween: 45,
  loop: true,
  initialSlide: 0,
  centeredSlides: false,
  shortSwipes: true,
  threshold: 20,
  passiveListeners: true,
  mousewheel: {
    releaseOnEdges: false,
    forceToAxis: true,
    sensitivity: 0.5,
  },
  navigation: {
        nextEl: navNext,
        prevEl: navPrev,
      },
  pagination: {
      el: pagination,
      type: 'bullets',
        clickable:'false'
    },
  });
</script>
            </div> {% endcomment %}
            <div class="list_vertical-title hidden">
              <div class="heading-l"><em>New</em> Recipes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>